<nav class="navbar navbar-expand-lg navbar-light bg">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav m-5 m-auto d-flex align-items-center">
      <li class="nav-item active">
        <img src="{{foto}}" alt="Imagem do usuário" width="70px" height="70px"
          class="img-fluid rounded-circle">
      </li>
      <li class="nav-item pl-3">
        <p class="m-2 fs-25 nome-user">Olá, {{nome}}</p>
      </li>

      <li class="nav-item pl-3">
        <a href="">
          <p class="text-white fs-25 m-1"><i class="fa fa-pencil " aria-hidden="true"></i></p>
        </a>

      </li>

    </ul>

    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item pl-3">
        <a (click)="sair()" class="m-1 font-weight-bold text-white fs-25 botao-sair">Sair <i class="fa fa-sign-out m-2"
            aria-hidden="true"></i></a>
      </li>
    </ul>

  </div>
</nav>