.nome-user {
    font-size: 25pt;
    font-weight: bold;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.fs-25 {
    font-size: 25pt;

}

.a {
    cursor: pointer
}

.bg {
    background-color: #875B9A;
}

.botao-sair {
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    padding: 9px;
}