.bg-purple {
    background-color: #875B9A
}
.fs-54 {
    font-size: 54pt;
}
.fs-15 {
    font-size: 18pt;
}
.botao-inicio {
    text-decoration:none ;
}
.mr-3 {
    margin-right: 5px;
}
.container, .container-fluid{
  font-family: 'Gambetta', serif;
  }
  
  tbody{
    font-size: 20px;
  }
  
  .custom-btn {
    width: 130px;
    height: 40px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    font-family: 'Gambetta', serif;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
      7px 7px 20px 0px rgba(0, 0, 0, .1),
      4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    font-size: 17px
  }
  
  
  .btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #FFD085;
    background: linear-gradient(0deg, #FFD085 0%, #FFD085 100%);
  }
  
  .btn-5:hover {
    color: #dc7d02;
    background: transparent;
    box-shadow: none;
  }
  
  .btn-5:before,
  .btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #FF9100;
    box-shadow:
      -1px -1px 5px 0px #fff,
      7px 7px 20px 0px #0003,
      4px 4px 5px 0px #0002;
    transition: 400ms ease all;
  }
  
  .btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
  
  .btn-5:hover:before,
  .btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }
  
  
  
  .btn-6 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #FFD899;
    background: linear-gradient(0deg, #ffd899b7 0%, #ffd89993 100%);
  }
  
  .btn-6 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #FFD899;
    background: linear-gradient(0deg, #f07f3de7 0%, #eb423ddc 100%);
  }
  
  .btn-6:before,
  .btn-6:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #dc7d02;
    box-shadow:
      -1px -1px 5px 0px #fff,
      7px 7px 20px 0px #0003,
      4px 4px 5px 0px #0002;
    transition: 400ms ease all;
  }
  
  .btn-6:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
  
  .btn-6:hover:before,
  .btn-6:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }
  
  
  
  .btn-7 {
        width: 130px;
        height: 40px;
        line-height: 42px;
        padding: 0;
        border: none;
        color: rgb(0, 0, 0);
        background: #B376E5;
        background: linear-gradient(0deg, #B376E5 0%, #B376E5 100%);
      }
  
      .btn-7:hover {
        color: #683304;
        background: transparent;
        box-shadow: none;
      }
  
      .btn-7:before,
      .btn-7:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 2px;
        width: 0;
        background: #FFEFD6;
        box-shadow:
          -1px -1px 5px 0px #fff,
          7px 7px 20px 0px #0003,
          4px 4px 5px 0px #0002;
        transition: 400ms ease all;
      }
      
      .btn-7:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
      }
      
      .btn-7:hover:before,
      .btn-7:hover:after {
        width: 100%;
        transition: 800ms ease all;
      }