#img-bg {
background-image:url('https://i.imgur.com/CSETFy2.jpg') ;
min-height: 969px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.form-group{
    padding: 0.1rem;
    font-size: 1.2rem;
  }
  
  label{
    padding: 0.3rem;
  }
  
  button{
    margin: 1rem;
    padding: 0.4rem 50px;
  
  }
  
  .fs {
    font-family: 'Gambetta', serif;
  }
  h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: rgb(0, 0, 0);
    outline: none;
    text-align: center;
  }
  
  h1:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  
  .texto{
    background-image:  url(https://c.tenor.com/QRJknyzv2rAAAAAC/stars-universe.gif);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-top: 20px;
    font-size: 45px;
    animation: filling 15s ease forwards;
    font-weight: bold;
  }
  @keyframes filling {
    from{
      background-position: center 25%;
    }
    to {
      background-position: center 50%;
    }
  }
  
  .container-fluid{
    background-color: rgba(222, 222, 222, 0.202);
  }
  
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Gambetta', serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
  .btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(198, 96, 233);
  background: linear-gradient(0deg, rgb(145, 67, 171) 0%, rgba(199, 96, 233, 0.445) 100%);
  }
  .btn-5:hover {
    color: #8420d7e0;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #8420d7e0;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }