.bg {
    background-color: #875B9A;
}
.fs-70 {
    font-size: 70pt;
}
.fs-18 {
    font-size: 20pt;
}
.mr-8 {
    margin-right: 8px;
}
.text-purple {
    color: #875B9A;
    font-weight: bolder;
    
}
.sub{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
  }

  .btn-outline-light{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 17px;
  
  }

  h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
  }

  .btn-outline-light:hover{
    color: rgb(0, 0, 0);
    background-color:#FBCE4E;
  
  }
.button-cadastro {
  text-decoration: none;
}

  .caixa{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
    font-size: 19px;
  }

  .card{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1px;
    padding: 5px;
    margin: 5px;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    text-rendering: geometricPrecision;
    display: inline-block;
  }

  .editMr{
    margin-right: 5px;
  }
  .card-text{
    display:inline-flexbox;
    height: 50px;
  }

  input{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 18px;
  }

  .custom-btn {
    width: 130px;
    height: 40px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
      7px 7px 20px 0px rgba(0, 0, 0, .1),
      4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    font-size: 18px}

    .btn-5 {
        width: 130px;
        height: 40px;
        line-height: 42px;
        padding: 0;
        border: none;
        color: white;
        background: #74064190;
        background: linear-gradient(0deg, #740641d3 0%, #740641d3 100%);
      }

      .btn-5:hover {
        color: #440024d3;
        background: transparent;
        box-shadow: none;
      }

      .btn-5:before,
.btn-5:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #740641d3;
  box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}



.btn-6 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: #FFD899;
  background: linear-gradient(0deg, #ffd899b7 0%, #ffd89993 100%);
}

.btn-6:hover {
  color: #dc7d02;
  background: transparent;
  box-shadow: none;
  font-weight: bold;
}

.btn-6:before,
.btn-6:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #dc7d02;
  box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.btn-6:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-6:hover:before,
.btn-6:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.modal{
    font-family: 'Courier New', Courier, monospace;
    }