.bg {
    background-color: #875B9A;
}
.fs-70 {
    font-size: 70pt;
}
.fs-18 {
    font-size: 20pt;
}
.mr-8 {
    margin-right: 8px;
}
.text-purple {
    color: #875B9A;
    font-weight: bolder;
    
}